/* Debut Header */
.imageLogo{
    width: 70px;
}

.nav-link{
    color: orange !important;
    font-size: 23px;
}

.home{
    border: 1px dashed gray;
}

/* Fin Header */


/* Debut Banniere Carrousel */

.d-block{
    width: 100%;
}

.image_carrousel{
    width: 100%;
    height: 400px;
}
.carouselTitle1{
    margin-bottom: 70px;
}

.carouselTitle2{
    margin-right: 500px;
    margin-bottom: 60px;
}


h1{
    font-size: 60px;
}

/* Fin Banniere Carrousel */



/* Debut Publicité */
.publicité{
    margin-top:20px ;
    padding: 50px;
    padding-top: 10px;
    height: 420px;
}

.imagePublicité{
    width: 100%;
    height: 310px;
}

.icone{
    margin-bottom: 20px;
}

i{
    font-size: 50px;
    color: black;
}


/* Fin Publicité */



/* Debut Specialite */
h3{
    text-align: center;
    color: black;
    margin: 20px;
}
.specialité{
    background-color: #F7F0D0;
}

.card{
    width: 13rem;
    box-shadow: 2px;
}

.card_Specialite{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.commande{
    padding: 10px 60px;
    background-color: orange;
    border-radius: 20px;
    color: white;
}

.boutton{
    display: flex;
    justify-content: center;
    padding: 20px;
}


/* Fin Specialite */



/* Debut Footer */
footer{
    padding: 0 20px;
}

.footerIcone{
    color: white;
}

/* Debut Footer */
