/* Debut Header */
body {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.imageLogo{
  width: 115px;
  margin-left: 40px;
}

.bg-alice{
  background-color: aliceblue;
}
nav{
  background-color: black;
}

.nav-link{
  color: orange !important;
  font-size: 23px;
  margin-left: 30px;
}

.home{
  border: 1px dashed gray;
}

/* Fin Header */

.blocimages {
  background-color: #F6F0D0;
  width: 100%;
  height: 900%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  }
    
.image {
  display: inline-block;
  width: 220px;
  margin-bottom: 50px;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding-bottom: 20px;
  margin: 20px;
  }
        
.imag {
  width: 100%;
  height: 220px;
}
    
.imag img {
  object-fit: cover;
  height: 94%;
  width: 100%;
  }

  button{
    background-color: orange;
    padding: 5px 10px;
    border-radius: 20px;
    border: 4px solid #F6F0D0;
    color: white;
  }

  button:hover{
    transform: scale(1.1); 
  }

  .imageheader{
    width: 100%;
    height: 10%;
  }
 
  .imageHeader{
    width: 100%;
    height: 400px;
  }

  .lienPlatPays{
    background-color: black;
  }

  .lienPlatPays a{
    color: white;
    text-decoration: none;
  }

  .containerMenu{
    background-color: #F6F0D0;
  }
